@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
body {
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
   font-family: 'raleway', sans-serif;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}
h1, h2 {
    font-weight: 300;
    margin: 6px 0px;
}
h1 {
    font-size: 50px;
    color: white;
}
h2 {
    font-size: 23px;
    color: rgb(190, 190, 190);
}
.txt-type > .txt {
    border-right: .2rem solid white;
    color: orange;
}
@media screen and (max-width: 700px) {
    h1, h2 {
        margin: 5px 0px;
    }
    h1 {font-size: 30px;}
    h2 {font-size: 18px;}
}
@media screen and (max-width: 400px) {
    h1, h2 {
        margin: 3px 0px;
    }
    h1 {font-size: 20px;}
    h2 {font-size: 12px;}
}